<%- include("partials/header") %>
    <div class="page-top text-center pt-2">
        <h1>CPU Temp Data</h1>
    </div>
    <div class="row mb-3 mx-2">
        <div class="col-11 mx-auto text-center">
            <h5><%= start.toLocaleString('en-US') %> - <%= end.toLocaleString('en-US') %></h5>
            <div>
                <canvas id="temp"></canvas>
            </div>
        </div>
    </div>
    <div id="form-row" class="row mb-5">
        <div class="col-12 col-md-7 mx-auto">
            <form name="drange" action="/cputemp" method="post">
                <div class="col-10 mx-auto">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="datetimes" size="30" />
                        <input type='text' name="start" hidden/>
                        <input type='text' name="end" hidden/>
                        <div id="drbutton" class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chartModalLabel">Data Point</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="modal-text" class="mx-5 px-5"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/cpu_script.js"></script>
    <script>

        let ID = [],
                AMBIENT_TEMPERATURE = [],
                GROUND_TEMPERATURE = [],
                HUMIDITY = [],
                HEAT_IDX = [],
                DEW_PT = [],
                CPU_TEMP = [],
                CREATED = [];

        "<% data.forEach(row => { %>"
            ID.push(parseInt("<%= row.ID %>"));
            AMBIENT_TEMPERATURE.push(parseFloat("<%= row.AMBIENT_TEMPERATURE %>"));
            GROUND_TEMPERATURE.push(parseFloat("<%= row.GROUND_TEMPERATURE %>"));
            HUMIDITY.push(parseFloat("<%= row.HUMIDITY %>"));
            HEAT_IDX.push(parseFloat("<%= row.HEAT_IDX %>"));
            DEW_PT.push(parseFloat("<%= row.DEW_PT %>"));
            CPU_TEMP.push(parseFloat("<%= row.CPU_TEMP %>"));
            CREATED.push((new Date("<%= row.CREATED %>")).toLocaleString("en-US"));
        "<% }); %>"

        chartCPU(CREATED, CPU_TEMP, AMBIENT_TEMPERATURE, HUMIDITY, ID);

        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            container: '#form-row',
            orientation: 'bottom auto',
            showDropdowns: true,
            minYear: 2019,
            maxYear: parseInt(moment().format('YYYY')),
            drops: 'up',
            startDate: moment(new Date("<%= start %>")),
            endDate: moment(new Date("<%= end %>")),
            locale: {
                format: 'M/DD/YY hh:mm A'
            }
        }, function (start, end) {
            $('input[name="start"]').val(start);
            $('input[name="end"]').val(end);
            $('form[name="drange"]').submit();
        });

        $('#drbutton').click(() => { 
            $('input[name="datetimes"]').focus();
         });
</script>
<%- include("partials/footer") %>