<%- include("partials/header") %>
    <div id="hourly-title" class="text-center pt-2 mt-5">
        <h1>Hourly Data</h1>
        <h5><%= page %></h5>
    </div>
    <div class="row mx-1">
        <div class="col-md-6 text-center">
            <h4>Temperature &amp; Dew Point</h4>
            <div>
                <canvas id="temp"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h4>Rain &amp; Barometric Pressure</h4>
            <div>
            <canvas id="rain"></canvas>
            </div>
        </div>
    </div>
    <div class="row mx-1">
        <div class="col-md-6 text-center">
            <h4>Humidity &amp; Wind Speed</h4>
            <div>
            <canvas id="humid"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h4>Wind Direction</h4>
            <div>
            <canvas id="wind"></canvas>
            </div>
        </div>
    </div>
    <div id="form-row" class="row mx-5 mb-5">
        <div class="col-6 mx-auto">
            <form name="drange" action="/hourly" method="post">
                <div class="col-10 mx-auto">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="datetimes" size="30" />
                        <input type='text' name="end" hidden />
                        <div id="drbutton" class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="scripts/hourly_scripts.js"></script>
    <script>
        let AMBIENT_TEMPERATURE = [],
                GROUND_TEMPERATURE = [],
                AIR_PRESSURE = [],
                HUMIDITY = [],
                WIND_DIRECTION = [],
                WIND_SPEED = [],
                WIND_GUST_SPEED = [],
                WIND_CHILL = [],
                HEAT_IDX = [],
                DEW_PT = [],
                RAINFALL = [],
                CREATED = [];

        "<% data.forEach(row => { %>"
            AMBIENT_TEMPERATURE.push(parseFloat("<%= row.AMBIENT_TEMPERATURE %>"));
            GROUND_TEMPERATURE.push(parseFloat("<%= row.GROUND_TEMPERATURE %>"));
            AIR_PRESSURE.push(parseFloat("<%= row.AIR_PRESSURE %>"));
            HUMIDITY.push(parseFloat("<%= row.HUMIDITY %>"));
            WIND_DIRECTION.push(parseFloat("<%= row.WIND_DIRECTION %>"));
            WIND_SPEED.push(parseFloat("<%= row.WIND_SPEED %>"));
            WIND_GUST_SPEED.push(parseFloat("<%= row.WIND_GUST_SPEED %>"));
            WIND_CHILL.push(parseFloat("<%= row.WIND_CHILL %>"));
            HEAT_IDX.push(parseFloat("<%= row.HEAT_IDX %>"));
            DEW_PT.push(parseFloat("<%= row.DEW_PT %>"));
            RAINFALL.push(parseFloat("<%= row.RAINFALL %>"));
            CREATED.push((new Date("<%= row.CREATED %>")).toLocaleTimeString("en-US"));
        "<% }); %>"

        chartTemp(CREATED, AMBIENT_TEMPERATURE, GROUND_TEMPERATURE, DEW_PT);
        chartRain(CREATED, RAINFALL, AIR_PRESSURE);
        chartHumid(CREATED, HUMIDITY, WIND_SPEED);

        let windLabels = [];
        "<% Object.keys(windDir).forEach(label => {%>"
            windLabels.push("<%= label %>");
        "<% }); %>"

        let windValues = [];
        "<% Object.values(windDir).forEach(value => {%>"
            windValues.push(parseInt("<%= value %>"));
        "<% }); %>"

        chartWind(windLabels, windValues);

        // choose a nav icon based on barometer and rain
        const rain = parseFloat("<%= Math.max.apply(Math, data.map(rain => { return rain.RAINFALL })); %>");
        const atmPress = AIR_PRESSURE.slice(-1)[0];

        const icon = setNavIcon(atmPress, rain)
        document.getElementById('icon').innerHTML = icon;

        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            singleDatePicker: true,
            container: '#form-row',
            orientation: 'bottom auto',
            showDropdowns: true,
            minYear: 2019,
            maxYear: parseInt(moment().format('YYYY')),
            startDate: "<%= end %>",
            drops: 'up',
            locale: {
                format: 'M/DD/YY hh:mm:ss A'
            }
        }, function (start, end) {
            $('input[name="end"]').val(start);
            $('form[name="drange"]').submit();
        });

        $('#drbutton').click(() => {
            $('input[name="datetimes"]').focus();
        });
</script>
<%- include("partials/footer") %>