<%- include("partials/header") %>
    <div id="hourly-title" class="text-center">
        <h1>Hourly Data</h1>
    </div>
    <div class="row mx-1">
        <div class="col-md-6 text-center">
            <h4>Air &amp; Ground Temp</h4>
            <div>
                <canvas id="temp"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h4>Rain &amp; Barometric Pressure</h4>
            <div>
            <canvas id="rain"></canvas>
            </div>
        </div>
    </div>
    <div class="row mx-1">
        <div class="col-md-6 text-center">
            <h4>Dew Point &amp; Humidity</h4>
            <div>
            <canvas id="humid"></canvas>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <h4>Wind Speed &amp; Direction</h4>
            <div>
            <canvas id="brain"></canvas>
            </div>
        </div>
    </div>
    <script src="scripts/hourly_scripts.js"></script>
    <script>
        let AMBIENT_TEMPERATURE = [],
                GROUND_TEMPERATURE = [],
                AIR_PRESSURE = [],
                HUMIDITY = [],
                WIND_DIRECTION = [],
                WIND_SPEED = [],
                WIND_GUST_SPEED = [],
                WIND_CHILL = [],
                HEAT_IDX = [],
                DEW_PT = [],
                RAINFALL = [],
                CREATED = [];

        "<% rowData.forEach(row => { %>"
            AMBIENT_TEMPERATURE.push(parseFloat("<%= row.AMBIENT_TEMPERATURE %>"));
            GROUND_TEMPERATURE.push(parseFloat("<%= row.GROUND_TEMPERATURE %>"));
            AIR_PRESSURE.push(parseFloat("<%= row.AIR_PRESSURE %>"));
            HUMIDITY.push(parseFloat("<%= row.HUMIDITY %>"));
            WIND_DIRECTION.push(parseFloat("<%= row.WIND_DIRECTION %>"));
            WIND_SPEED.push(parseFloat("<%= row.WIND_SPEED %>"));
            WIND_GUST_SPEED.push(parseFloat("<%= row.WIND_GUST_SPEED %>"));
            WIND_CHILL.push(parseFloat("<%= row.WIND_CHILL %>"));
            HEAT_IDX.push(parseFloat("<%= row.HEAT_IDX %>"));
            DEW_PT.push(parseFloat("<%= row.DEW_PT %>"));
            RAINFALL.push(parseFloat("<%= row.RAINFALL %>"));
            CREATED.push((new Date("<%= row.CREATED %>")).toLocaleTimeString("en-US"));
        "<% }); %>"

        chartTemp(CREATED, AMBIENT_TEMPERATURE, GROUND_TEMPERATURE);
        chartRain(CREATED, RAINFALL, AIR_PRESSURE);
        chartHumid(CREATED, DEW_PT, HUMIDITY);
    </script>
<%- include("partials/footer") %>